# IDE
.vs/*
.vscode/*
!.vscode/launch.json
.cache/
.git/
.vs/

# output directory
x64/*
x86/*
build/
out/
__pycache__/

# precompiled headers
*.ipch
*.gch
*.pch

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.tlog
*.log
.vs/catatan_keuangan_pribadi/v17/.suo
catatan_keuangan_pribadi/RCa13340
*.recipe
*.ipdb
*.res
catatan_keuangan_pribadi/x64/Release/catatan_keuangan_pribadi.vcxproj.FileListAbsolute.txt
catatan_keuangan_pribadi/x64/Release/RCa08632
*.pdb
*.db
.vs/catatan_keuangan_pribadi/v17/.suo
.vs/catatan_keuangan_pribadi/v17/.suo
*.db
.suo
*.suo
Browse.VC.db
.vs/catatan_keuangan_pribadi/v17/.suo
*.db
*.*.db
*.db
.vs/catatan_keuangan_pribadi/v17/.suo
